<header class="site-header">
  <img src="{{ "/assets/img/2403pdbmom.jpg" | prepend: site.baseurl }}" alt="2403pdbmom">
  <a href="http://pdb101.rcsb.org/motm">2024 March Molecule of the Month</a>
  <img src="{{ "/assets/img/grandmenu.png" | prepend: site.baseurl }}" alt="grand menu">
  <a href="https://torikizoku.co.jp/assets/uploads/2024/03/menu_ja_2403.pdf">Torikizoku Grand Menu</a>  
  <img src="{{ "/assets/img/mom242_02_ja.jpg" | prepend: site.baseurl }}" alt="2013corona">
  <a href="https://numon.pdbj.org/mom/242?l=ja">Corona virus's protease and an inhibitor (cyan) crystal structure</a>
    <div class="sidebar close">
      <div class="logo-details">
        <i><img src="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}"  alt="dao"></i>
        <span class="logo_name">dhanhNote</span>
      </div>
      <ul class="nav-links">
        <!-- ABOUT BUTTON-->
        <li>
          <a href="{{ "/about" | prepend: site.baseurl }}">
            <i class='bx bxs-user-circle' ></i>
            <span class="link_name">About</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
          </ul>
        </li>

        <!-- HOME BUTTON -->
        <li>
          <a href="{{ "/" | prepend: site.baseurl }}">
            <i class='bx bxs-home' ></i>
            <span class="link_name">Home</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
          </ul>
        </li>

        <!-- Quantum Chemistry BUTTON -->
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-atom' ></i>
              <span class="link_name"><em>ab_initio</em></span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#"><em>ab_initio</em></a></li>
            <li><a href="#">Benchmarking</a></li>
            <li><a href="#">GAMESS</a></li>
            <li><a href="#">Psi4</a></li>
            <li><a href="#">FMO</a></li>
          </ul>
        </li>

        <!-- Crystallography BUTTON -->
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-dna' ></i>
              <span class="link_name">Xtal</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Xtal</a></li>
            <li><a href="#">Principles</a></li>
            <li><a href="#">Experimental</a></li>
            <li><a href="#">Techniques</a></li>
            <li><a href="#">Pymol related</a></li>
          </ul>
        </li>

        <!-- Drug Discovery BUTTON -->
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bxs-capsule' ></i>
              <span class="link_name">Pharmacy</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Pharmacy</a></li>
            <li><a href="#">SBDD</a></li>
            <li><a href="#">Toxicology</a></li>
            <li><a href="#">Physiology</a></li>
            <li><a href="#">Dis. physiology</a></li>
          </ul>
        </li>


        <!-- AI BUTTON -->
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-glasses-alt' ></i>
              <span class="link_name">ML_AI</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">ML_AI</a></li>
            <li><a href="#">Principles</a></li>
            <li><a href="#">Generative Models</a></li>
            <li><a href="#">Code examples</a></li>
          </ul>
        </li>

        <!-- Linux BUTTON -->
        <li>
          <a href="#">
            <i class='bx bx-code-alt' ></i>
            <span class="link_name">Linux</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Linux</a></li>
          </ul>
        </li>

        <!-- Blog BUTTON -->
        <li>
          <a href="{{ "/thoughts" | prepend: site.baseurl }}">
            <i class='bx bxs-message-rounded-error' ></i>
            <span class="link_name">Thoughts</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{{ "/thoughts" | prepend: site.baseurl }}">Thoughts</a></li>
          </ul>
        </li>
      </ul>
    </div>
    

  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
     let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
     arrowParent.classList.toggle("showMenu");
      });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".logo-details");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("close");
    });
  </script>
</header>
